//colors
$color-black:#000;
$color-light-black:#4f4e4e;
$color-light-gray:#938e8e;
$color-gray:#959595;
$color-gray-dark:#e4e0f4;
$color-light-green:#5fc18b;
$color-green:#43a06d;
$color-dark-green:#44a36f;
$color-white: #fff;
//border-colors
$color-border-light-gray:#e5e5e5;
$color-border-gray:#d8d8d8;
//plh-colors
$color-plh-gray:#b4adad;

//btn-color
$color-btn-blue:#227dd3;

//responsive
$tablet: 1048px;
$mobile: 767px;

//fonts
$font-regular:'open_sansregular', Arial, Helvetica, sans-serif;
$font-semibold:'open_sanssemibold', Arial, Helvetica, sans-serif;
$font-bold:'open_sansbold', Arial, Helvetica, sans-serif;
