<div class="two-columns">
  <div class="col">
    <img src="/assets/images/documents.png" alt="Docuemnts">
    <strong>Documents</strong>
    <p>
      This is Photoshop's version  of Lorem Ipsum.
      Proin gravida nibh vel velit auctor aliquet.
      Aenean sollicitudin
    </p>
  </div>
  <div class="col">
    <img src="/assets/images/photos.png" alt="Photos">
    <strong>Photos</strong>
    <p>
      This is Photoshop's version  of Lorem Ipsum.
      Proin gravida nibh vel velit auctor aliquet.
      Aenean sollicitudin
    </p>
  </div>
</div>
